@model IEnumerable<Gym.Models.Entity.TrainerEntity>
@{
    ViewBag.Title = "Trainers";
    Layout = "~/Views/Layout/_mainlayout.cshtml";
}

<h3 style="color:#008080; margin-bottom:0px;">Trainers Manager</h3>
<hr style="width :100%;color :#008080;" />
<p class="btn btn-default btn-custom btn-rounded waves-effect waves-light">
@if (HttpContext.Current.User.IsInRole("Admin"))
{@Html.ActionLink("New Trainer", "Create", null, new { @class = "menu" })}
</p>
<div class="row">
	<div class="col-sm-12">
		<div class="card-box table-responsive">
			<table id="datatable" class="table table-striped table-bordered">
				<tr>
					<th>@Html.DisplayNameFor(m => m.trainer_name)</th>
					<th>@Html.DisplayNameFor(m => m.trainer_contact)</th>
					<th>@Html.DisplayNameFor(m => m.trainer_address)</th>

					<th>Options</th>
				</tr>
				@foreach (var item in Model)
				{
					<tr>
						<td>
							@Html.DisplayFor(mi => item.trainer_name)
						</td>
						<td>
							@Html.DisplayFor(mi => item.trainer_contact)
						</td>
						<td>
							@Html.DisplayFor(mi => item.trainer_address)
						</td>


						<td width="320px">
							@if (HttpContext.Current.User.IsInRole("Admin"))
							{
								<i class="md md-mode-edit"></i>@Html.ActionLink("Edit", "Edit", "trainer", new { id = item.trainer_id.Trim() }, new { @class = "menu" })
								<span>!</span>
								<i class="md md-delete"></i>@Html.ActionLink("Delete", "Deletetrainer", "trainer", new { id = item.trainer_id.Trim() },
			   new
			   {
				   @class = "plan",
				   @onclick = "return confirm('Are you sure you wish to delete this trainer?');"
			   }
			   )
								<span>!</span>
							}

							<i class="md md-details"></i> @Html.ActionLink("Details", "Details", "trainer", new { id = item.trainer_id.Trim() }, new { @class = "menu" })


						</td>

					</tr>
				}
			</table>
		</div>
	</div>
</div>
<hr style="width :100%;color :#008080;" />


