<div class="left side-menu">
                <div class="sidebar-inner slimscrollleft">
                    <!--- Divider -->
                    <div id="sidebar-menu">
                        <ul>

                        	<li class="text-muted menu-title">ADMIN MENU</li>

							<li class="has_sub">
								<a href="@Url.Action("Index", "Home")" >
									<i class="ti-home"></i>   Home</a>
							</li>
							<li class="has_sub">
								<a href="@Url.Action("Index", "Admin")">
									<i class="fas fa-user-shield"></i>   Admin
								</a>
							</li>
							<li class="has_sub">
								<a href="@Url.Action("Index", "Trainer")">
									<i class="fas fa-chalkboard-teacher"></i>   Trainer
								</a> 
							</li>
							<li class="has_sub">
								<a href="@Url.Action("Index", "Plan")">
									<i class="fas fa-list-ul"></i>   Plan
								</a>
							</li>
							<li class="has_sub">
								<a href="@Url.Action("Index", "Equipment")">
									<i class="fas fa-boxes"></i>   Equipment
								</a>
							</li>
							<li class="has_sub">
								<a href="@Url.Action("Index", "Customer")">
									<i class="fas fa-running"></i>   Customer
								</a>
							</li>
							<li class="has_sub">
								@Html.ActionLink("Logout", "LogOff", "Acccount", null, new { @class = "btn btn-danger" })
								</a>
							</li>
                        </ul>
                        <div class="clearfix"></div>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>